<p id="notice"><%= notice %></p>

<h1>Listing Classnames</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Instructor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classnames.each do |classname| %>
      <tr>
        <td><%= classname.name %></td>
        <td><%= classname.time %></td>
        <td><%= classname.instructor %></td>
        <td><%= link_to 'Show', classname %></td>
        <td><%= link_to 'Edit', edit_classname_path(classname) %></td>
        <td><%= link_to 'Destroy', classname, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classname', new_classname_path %>
